body {
    display: flex;
    margin: 0px;
    background-color: rgb(178, 234, 255);
}

#sidebar {
    background-color: rgb(108, 108, 243);
    box-sizing: border-box;
    padding: 10px;
    height: 100vh;
    width: 300px;
}

#content {
    box-sizing: border-box;
    width: calc(100% - 300px);
}

#main {
    padding: 10px
}

#layout {
    display: flex;;
}

.sidebar-navigation-btn {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

#sidebar li:hover {
    color: #f1f1f1;
}

.items-list {
    height: 200px;
    width: 100%;
    background-color: lightblue;
}

.items-list-row {
    display: flex;
    background-color: lightblue;
    height: auto;
    margin: 5px;
    border-radius: 10px;
}

#item-title-column {
    width: 200px;
}

#item-priority-column {
    width: 200px;
}

#item-completed-column {
    width: 200px;
}

#item-list-headers {
    display: flex;
}

.completed {
    text-decoration: line-through;
}