body {
    display: flex;
    margin: 0px;
}

#sidebar {
    background-color: rgb(135, 135, 255);
    box-sizing: border-box;
    padding: 10px;
    height: 100vh;
    width: 300px;
}

#content {
    box-sizing: border-box;
    width: calc(100% - 300px);
}

.projects-list {
    height: 200px;
    width: 100%;
    background-color: lightblue;
}

.projects-list-row {
    display: flex;
}

.project-title-column {
    width: 400px;
}

.project-date-column {
    width: 300px
}